
p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

.puppy-fb{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
}

body{
  padding-bottom: 1000px;
}

.profiles{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  column-gap: 30px;
  row-gap: 20px;
}

.facebook{
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.01px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 1px;
}



.mutuals-pic{
  width: 28px;
  height: 28px;
  object-fit: cover;
  margin-left: 8px;
  border-radius: 50px;
  vertical-align: top;

}

.mutual-friends-row{
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  margin-bottom: 7px;
}



.add-friend{
    padding: 8px 18px;
    border: none;
    background-color: rgb(34, 109, 200);
    color: white;
    border-radius: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.mutuals{
    font-size: 13px;
    color: rgb(176, 176, 176);
    margin-left: 5px;
    
}

.name{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.twitter {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: block;
  padding: 10px;
  width: 380px;
}

.tweet-button {
  padding: 9px 16px;
  border-radius: 50px;
  border-style: solid;
  border: none;
  color: white;
  background-color: rgb(29, 155, 240);
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  transition: box-shadow 0.15s, opacity 0.15s;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.tweet-button:active {
  opacity: 0.7;
}

.tweet {
  padding: 12px;
  width: 220px;
  border: none;
  outline: none;
  color: rgb(176, 176, 176);
  margin-bottom: 0;
}

.puppy-pp {
  width: 40px;
  border-radius: 100px;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
}

.rounded-l {
  border-radius: 5px;
  width: 240px;
  padding: 8px 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  outline: none;
}

.p-linkedin {
  color: rgb(176, 176, 176);
  font-size: 10px;
}

.linkedin {
  font-family: Arial, Helvetica, sans-serif;
}

.linkedin1 {
  color: white;
  background-color: rgb(10, 102, 194);
  border: none;
  padding: 10px 85px;
  border-radius: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
  margin-bottom: 30px;
}

.linkedin1:hover {
  background-color: rgb(7, 66, 124);
}

input {
  margin-bottom: 10px;
}

.google {
  width: 400px;
  padding: 8px 10px;
  border-style: none;
  border-radius: 100px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  color: rgb(176, 176, 176);
}

.google::placeholder {
  color: rgb(176, 176, 176);
}

.puppy {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 100px;
}

.rounded {
  border-radius: 5px;
  padding: 8px 10px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
}

.container{
  padding: 6px 8px;
  font-family: Roboto;
  margin-top: 30px;
  width: 340px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.container-row{
  display: flex;
  flex-direction: row;
  align-items: center;  
  margin-top: 10px;
  margin-bottom: 10px;
}


.mutuals-pic-bigger{
  width: 40px;
  height: 40px;
  border-radius: 400px;
  margin-left: 10px;
  object-fit: cover;
}

.profile-text{
  flex: 1;
  margin-left: 10px;
}

.dog-type{
  color: rgb(176, 176, 176);
  margin-bottom: 2px;
  margin-top: 2px;
}

.dog-name{
  font-weight: bold;
  font-size: 18px;
}

.social{
  font-size: 13px;
  color: rgb(176, 176, 176);
}


.follow-btn{
  color: white;
  font-weight: bold;
  background-color: rgb(31, 188, 249);
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.nav-container{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
  background-color: rgb(164, 0, 234);
  padding: 10px;
  font-family: Roboto;
  justify-content: space-between;
}

.nav-search{
  margin: 0;
  flex: 1;
  margin-left: 60px;
  margin-right: 60px;
  max-width: 500px;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  outline: none;

}

.nav-home{
  color: white;
  font-weight: bold;
}

.download-btn{
  border: solid white;
  padding: 7px 10px;
  color: white;
  background-color: rgb(164, 0, 234);
  border-width: 1px;
  border-radius: 3px;
  width: 100px;
}