@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

.shop-link{
    cursor: pointer;
}

.shop-link:hover{
    text-decoration: underline;
}

p{
    font-family: Roboto;
    margin-top: 0;
    margin-bottom: 0;
}

.video-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    width: 300px;
    margin-bottom: 5px;
}

.video-stats{
    color: #606060;
    font-size: 14px;
    margin-bottom: 20px;
}

.video-creator{
    color: #606060;
    font-size: 14px;
    margin-bottom: 20px;
}

.video-description{
    color: #606060;
    font-size: 14px;
    line-height: 20px;
    width: 285px;
    margin-bottom: 100px;
}

.apple-text{
    color: white;
    background-color: #e34140;
    padding: 16px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;

}

a{
    color: white;
}